includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    level: 2
    paths:
        - app
     # Laravel固有の型が緩いところでエラーが多数出るので無視する
     checkGenericClassInNonGenericObjectType: false
     ignoreErrors:
         - message: '#.* with no value type specified in iterable type array.#'
         - message: '#.* type has no value type specified in iterable type array.#'
